/** GLOBAL STYLES **/


body {
  font-size: 16px;
  color: #fff;
  background-color: #5a3565;
  /* This property comes from google.com/fonts/quick-use*/
  font-family: 'Archivo Narrow', sans-serif;
  font-weight:400;
}

/** HEADER **/

/**#logo-img {
  background: url('../images/meiLogo250.png') no-repeat;
  width: 250px;
  height: 200px;
  margin: 25px 15px 10px 0;


}**/

#header-nav {
  background-color:#ecece2;
  border-radius: 0;
  border: 0;
}




#section{
  height:1000px;
}



.bgimage {
background-image: url(../images/faces1170.jpg);
background-size: 100%;   
}

.bgimage-inside{
padding-top:48%;

}
  

h1.section-heading {
  font-family: 'Rokkitt';
  color:    #F5F5F5;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;;
  /**text-shadow: 4px 4px black;**/
  font-size: 82px;
  margin: 1px;
  z-index: 2;
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  width: 100%;
  height: 26px;
  padding: 0;
  margin-top: -5px; 
  text-align: center;
}

.section-lead {
  margin: 30px 0;
}

.section-paragraph {
  margin: 30px 0;
}

footer {
  margin: 50px 0;
}

.navbar-ex1-collapse {
  width:100%;
}


h1 {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size:2em;
  text-align:center;
  padding-top:60px;

}

p {
  
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  color: black;
  position: center;
  text-align:center;
  font-size:1.5em;

}

#content {

  
  padding: 1% 1% 1% 2%;
  font-size:1.25em;

}

#box {
  background-color: #B45F04;
  background-clip: content-box;
  margin-top: 3%;


  
}

/**RESPONSIVE FEATURE**/

/**>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> DESKTOPS & NOTEBOOKS **/

@media (min-width: 1200px){

#offset{
  margin-top: 200px;
}


.navbar-header {
  height:200px;
  padding-top: 10px;

}  

.container {
    width: 100%;
}    

.img-responsive{
  max-width:100%;
  padding: 40px 10px 15px 15px;
}


}

/**>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> TABLETS - HORIZONTAL **/

@media (min-width: 992px) and (max-width: 1199px ){


#offset{
  margin-top: 129px;
}


.navbar-header {
  height:130px;
  padding-top: 10px;

}  

.container {
 width: 100%;
}    

.img-responsive{
  max-width:75%;
  padding: 10px 10px 0px 0px;
}


h1.section-heading {
    font-size: 3em;

}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONES - HORIZONTAL **/

@media screen and (min-width: 376px ) and (max-width: 767px){  

#offset{
  margin-top: 150px;
}


.img-responsive{
  max-width:100%;
  padding: 10px 10px 0px 0px;
}

.navbar-header {

  height:60px;
}

h1.section-heading {
    font-size: 2em;

}


}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> TABLETS - VERTICAL*/

@media (min-width: 768px) and (max-width: 991px ){

#offset{
  margin-top: ;
}


.navbar-header {
  height:130px;
  padding-top: 10px;

}  

.container {
 width: 100%;
}    

.img-responsive{
  max-width:75%;
  padding: 10px 10px 0px 0px;
}


h1.section-heading {
    font-size: 3em;

}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHONES - VERTICAL **/

@media (max-width: 375px){

.container {
 width: 100%;
}    


.navbar-header {

  height:110px;
}




}